@import "tailwindcss";
@import "tw-animate-css";
@import "shadcn/tailwind.css";

@custom-variant dark (&:is(.dark *));
@custom-variant fixed (&:is(.layout-fixed *));

@source "../../../apps/**/*.{ts,tsx}";
@source "../../../components/**/*.{ts,tsx}";
@source "../**/*.{ts,tsx}";

@theme inline {
	--breakpoint-3xl: 1600px;
	--breakpoint-4xl: 2000px;

	--color-background: var(--background);
	--color-foreground: var(--foreground);

	--font-sans: var(--font-sans);
	--font-heading: var(--font-heading);
	--font-mono: var(--font-mono);

	--color-brand-50: var(--color-brand-50);
	--color-brand-100: var(--color-brand-100);
	--color-brand-200: var(--color-brand-200);
	--color-brand-300: var(--color-brand-300);
	--color-brand-400: var(--color-brand-400);
	--color-brand-500: var(--color-brand-500);
	--color-brand-600: var(--color-brand-600);
	--color-brand-700: var(--color-brand-700);
	--color-brand-800: var(--color-brand-800);
	--color-brand-900: var(--color-brand-900);
	--color-brand-950: var(--color-brand-950);

	--color-sidebar-ring: var(--sidebar-ring);
	--color-sidebar-border: var(--sidebar-border);
	--color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
	--color-sidebar-accent: var(--sidebar-accent);
	--color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
	--color-sidebar-primary: var(--sidebar-primary);
	--color-sidebar-foreground: var(--sidebar-foreground);
	--color-sidebar: var(--sidebar);

	--color-chart-5: var(--chart-5);
	--color-chart-4: var(--chart-4);
	--color-chart-3: var(--chart-3);
	--color-chart-2: var(--chart-2);
	--color-chart-1: var(--chart-1);

	--color-ring: var(--ring);
	--color-input: var(--input);
	--color-border: var(--border);

	--color-destructive: var(--destructive);
	--color-destructive-foreground: var(--destructive-foreground);

	--color-info: var(--info);
	--color-info-foreground: var(--info-foreground);

	--color-success: var(--success);
	--color-success-foreground: var(--success-foreground);

	--color-warning: var(--warning);
	--color-warning-foreground: var(--warning-foreground);

	--color-accent: var(--accent);
	--color-accent-foreground: var(--accent-foreground);
	--color-brand-accent: var(--brand-accent);
	--color-brand-accent-foreground: var(--brand-accent-foreground);

	--color-muted: var(--muted);
	--color-muted-foreground: var(--muted-foreground);

	--color-secondary: var(--secondary);
	--color-secondary-foreground: var(--secondary-foreground);

	--color-primary: var(--primary);
	--color-primary-foreground: var(--primary-foreground);

	--color-popover: var(--popover);
	--color-popover-foreground: var(--popover-foreground);

	--color-card: var(--card);
	--color-card-foreground: var(--card-foreground);

	--color-code: var(--code);
	--color-code-foreground: var(--code-foreground);
	--color-code-highlight: var(--code-highlight);

	--radius-sm: calc(var(--radius) - 4px);
	--radius-md: calc(var(--radius) - 2px);
	--radius-lg: var(--radius);
	--radius-xl: calc(var(--radius) + 4px);

	--animate-skeleton: skeleton 2s -1s infinite linear;
	--tw-shadow-color: #000;
	@keyframes skeleton {
		to {
			background-position: -200% 0;
		}
	}
}

:root {
	--radius: 0.625rem;

	/* Brand palette */
	--color-brand-50: oklch(0.9747 0.0119 259.82);
	--color-brand-100: oklch(0.8845 0.0562 274.16);
	--color-brand-200: oklch(0.7907 0.1063 276.03);
	--color-brand-300: oklch(0.6926 0.1631 277.39);
	--color-brand-400: oklch(0.6001 0.2207 278.29);
	--color-brand-500: oklch(0.5174 0.2736 276.98);
	--color-brand-600: oklch(0.4394 0.2527 276.86);
	--color-brand-700: oklch(0.3501 0.1992 277.06);
	--color-brand-800: oklch(0.2606 0.1331 276.82);
	--color-brand-900: oklch(0.1712 0.0749 277.38);
	--color-brand-950: oklch(0.0824 0.0346 275.68);

	--violet-300: oklch(0.7608 0.1583 307.13);
	--violet-600: oklch(0.57385 0.27695 299.6177);

	--background: color-mix(in srgb, var(--color-zinc-100) 66%, var(--color-white));
	--foreground: var(--color-zinc-800);

	--card: var(--color-white);
	--card-foreground: var(--color-zinc-800);

	--popover: var(--color-white);
	--popover-foreground: var(--color-zinc-800);

	--primary: var(--color-brand-600);
	--primary-foreground: var(--color-zinc-50);

	--secondary: --alpha(var(--color-black) / 4%);
	--secondary-foreground: var(--color-zinc-800);

	--muted: --alpha(var(--color-black) / 4%);
	--muted-foreground: color-mix(in srgb, var(--color-zinc-500) 90%, var(--color-black));

	--brand-accent: var(--violet-600);
	--brand-accent-foreground: var(--violet-300);

	--accent: --alpha(var(--color-black) / 4%);
	--accent-foreground: var(--color-zinc-800);

	--destructive: var(--color-red-500);
	--destructive-foreground: var(--color-red-700);

	--info: var(--color-blue-500);
	--info-foreground: var(--color-blue-700);

	--success: var(--color-emerald-500);
	--success-foreground: var(--color-emerald-700);

	--warning: var(--color-amber-500);
	--warning-foreground: var(--color-amber-700);

	--border: --alpha(var(--color-black) / 8%);
	--input: --alpha(var(--color-black) / 10%);
	--ring: var(--color-brand-500);

	--chart-1: var(--color-orange-600);
	--chart-2: var(--color-teal-600);
	--chart-3: var(--color-cyan-900);
	--chart-4: var(--color-amber-400);
	--chart-5: var(--color-amber-500);

	--sidebar: var(--color-zinc-100);
	--sidebar-foreground: color-mix(in srgb, var(--color-zinc-800) 64%, var(--sidebar));
	--sidebar-primary: var(--color-brand-600);
	--sidebar-primary-foreground: var(--color-zinc-50);
	--sidebar-accent: --alpha(var(--color-black) / 4%);
	--sidebar-accent-foreground: var(--color-zinc-800);
	--sidebar-border: --alpha(var(--color-black) / 6%);
	--sidebar-ring: var(--color-zinc-400);

	--code: var(--color-white);
	--code-foreground: var(--foreground);
	--code-highlight: --alpha(var(--color-black) / 4%);
}

.dark {
	--background: color-mix(in srgb, var(--color-zinc-950) 96%, var(--color-white));
	--foreground: var(--color-zinc-100);

	--card: color-mix(in srgb, var(--background) 98%, var(--color-white));
	--card-foreground: var(--color-zinc-100);

	--popover: color-mix(in srgb, var(--background) 96%, var(--color-white));
	--popover-foreground: var(--color-zinc-100);

	--primary: var(--color-brand-600);
	--primary-foreground: var(--color-zinc-50);

	--secondary: --alpha(var(--color-white) / 4%);
	--secondary-foreground: var(--color-zinc-100);

	--muted: --alpha(var(--color-white) / 4%);
	--muted-foreground: color-mix(in srgb, var(--color-zinc-500) 90%, var(--color-white));

	--brand-accent: var(--violet-600);
	--brand-accent-foreground: var(--violet-300);

	--accent: --alpha(var(--color-white) / 4%);
	--accent-foreground: var(--color-zinc-100);

	--destructive: color-mix(in srgb, var(--color-red-500) 90%, var(--color-white));
	--destructive-foreground: var(--color-red-400);

	--info: var(--color-blue-500);
	--info-foreground: var(--color-blue-400);

	--success: var(--color-emerald-500);
	--success-foreground: var(--color-emerald-400);

	--warning: var(--color-amber-500);
	--warning-foreground: var(--color-amber-400);

	--border: --alpha(var(--color-white) / 6%);
	--input: --alpha(var(--color-white) / 8%);
	--ring: var(--color-brand-300);

	--chart-1: var(--color-blue-700);
	--chart-2: var(--color-emerald-500);
	--chart-3: var(--color-amber-500);
	--chart-4: var(--color-purple-500);
	--chart-5: var(--color-rose-500);

	--sidebar: color-mix(in srgb, var(--color-zinc-950) 97%, var(--color-white));
	--sidebar-foreground: color-mix(in srgb, var(--color-zinc-100) 64%, var(--sidebar));
	--sidebar-primary: var(--color-brand-400);
	--sidebar-primary-foreground: var(--color-zinc-50);
	--sidebar-accent: --alpha(var(--color-zinc-800) / 86%);
	--sidebar-accent-foreground: var(--color-zinc-100);
	--sidebar-border: --alpha(var(--color-white) / 5%);
	--sidebar-ring: var(--color-zinc-400);

	--code: color-mix(in srgb, var(--background) 98%, var(--color-white));
	--code-foreground: var(--foreground);
	--code-highlight: --alpha(var(--color-white) / 4%);
}

/* ==========================================================================
   Base layer — global defaults (border, body, html)
   ========================================================================== */
@layer base {
	* {
		@apply border-border outline-ring/50;
	}
	body {
		@apply bg-background text-foreground;
	}
	html {
		@apply font-sans;
	}
	.maplibregl-popup-content {
		@apply bg-transparent! shadow-none! p-0! rounded-none!;
	}
	.maplibregl-popup-tip {
		@apply hidden!;
	}
}

@utility container {
	@apply mx-auto max-w-[1416px] px-4 lg:px-6;
}

.checkerboard {
	background: repeating-conic-gradient(hsl(255, 4%, 79%) 0% 25%, hsl(300, 8%, 97%) 0% 50%) 50% / 10px 10px;
}
